<h1>All Todos</h1>
<div class="row">
<% if session[:userinfo]["admin"] %>
<div class="col-lg-9">
    <% @users.each do |user| %>
    <h3> <%= user.name %></h3>
    <% user.todos.each do |todo| %>
    <div class="card">
      <div class="card-header title">
      <%= todo.title %>
      </div>
      <div class="row">
      <div class="card-body">
        <p class="card-text"><%= todo.body %></p>
        <h6 class="card-title text-right"><%= session[:userinfo]["name"] %></h6>
        <div class="btn btn-primary white"><span class="white"><%= link_to "Show", todo_path(todo) %></span></div>
        <div class="btn btn-primary white"><%= link_to "Edit", edit_todo_path(todo) %></div>
        <div class="btn btn-primary white"><%= link_to "Destroy", todo_path(todo),
                                                        method: :delete,
                                                        data: { confirm: "Are you sure?" } %></div>
      </div>
    </div>
    </div>
      <% end %>
      <% end %>
    </div>
  <div class="col-lg-3">
    <div class ="row bold">
    <div class="col-lg-6">USERS</div>
    <div class="col-lg-6">TODO COUNT</div>
    </div>
      <% @todo_count.each do |key, value| %>
    <div class ="row">
      <div class="col-lg-6"><%=key[1]%></div>
    <div class="col-lg-6"><%=value%></div>
  </div>
  <hr />
<%end%>
  </div>
  <% else %>
  <div class="col-lg-12">
  <% @todos.each do |todo| %>
      <div class="card">
          <div class="card-header title">
          <%= todo.title %>
          </div>
          <div class="row">
            <div class="card-body">
              <p class="card-text"><%= todo.body %></p>
              <h6 class="card-title text-right"><%= session[:userinfo]["name"] %></h6>
              <div class="btn btn-primary white"><span class="white"><%= link_to "Show", todo_path(todo) %></span></div>
              <div class="btn btn-primary white"><%= link_to "Edit", edit_todo_path(todo) %></div>
              <div class="btn btn-primary white"><%= link_to "Destroy", todo_path(todo),
                                                              method: :delete,
                                                              data: { confirm: "Are you sure?" } %></div>
            </div>
        </div>
      </div>
  <%end%>
  </div>
<% end %>
</div>
